---
import ThemeToggle from './ThemeToggle.astro';
import { siteConfig } from '../config';
import Search from './Search.astro';

const navItems = [
  { href: '/', text: '主页' },
  { href: '/blog', text: '博客' },
  { href: '/tags', text: '标签 -Tag' },
  { href: '/archive', text: '归档' },
];
---

<header class="py-6">
  <nav class="flex justify-between items-center flex-wrap">
    <a href="/" class="text-2xl font-bold text-gray-900 dark:text-white">{ siteConfig.title }</a>
    <div class="flex items-center gap-6">
      <ul class="flex gap-6">
        {navItems.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class="font-bold text-gray-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
            >
              {text}
            </a>
          </li>
        ))}
      </ul>
      {siteConfig.search && <Search />}
      <ThemeToggle />
    </div>
  </nav>
</header>
